.button {
  background-image: url("../../../assets/images/button-hover-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  background-position: center;
}

.button:hover,
.button.button--disabled {
  background-image: url("../../../assets/images/button-light.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.button--up {
  transform: rotate(180deg);
}

.theme_dark .button {
  background-image: url("../../../assets/images/button-dark.svg");
}
.theme_dark .button:hover,
.theme_dark .button.button--disabled {
  background-image: url("../../../assets/images/button-hover-dark.svg");
}
