* {
  font-family: Roboto;
}

.chart__chart__chartbar__bar {
  border-radius: 6px;
  width: 40px;
}

.theme_light .chart__chart__chartbar__bar {
  background: linear-gradient(180deg, rgba(244, 244, 244, 0.9) 0.82%, #E9E9E9 100%, rgba(234, 234, 234, 0) 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(207, 207, 207, 0.5);
}

.theme_light .chart__chart__chartbar__bar--active {
  background: linear-gradient(180deg, #FFF2D1 0.82%, #FFD66C 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.8);
}

.theme_dark .chart__chart__chartbar__bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 93.3% at 38.75% 72.1%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}

.theme_dark .chart__chart__chartbar__bar--active {
  background: radial-gradient(81.14% 100% at 50% 0%, #FFA300 0%, #2D1C00 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.5);
}
.chart__chart {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 577px) {
  .chart__chart {
    justify-content: space-between;
    padding: 0 8.7vw;
    height: 50vh;
    margin-bottom: 24px;
  }
}

@media (max-width: 578px) {
  .chart__chart {
    height: 60vh;
    right: 12px;
    position: absolute;
    padding-top: 42px;
  }
}


.chart__chart__chartbar__title {
  text-align: center;
  color: #BFBFBF;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  margin: 12px 0;
}

.chart__chart__chartbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.chart__leaders {
  display: flex;
}

@media (max-width: 637px) {
  .chart__leaders__spacer {
    height: 2px;
    width: 100%;
    margin: 16px 0;
  }
  .chart__leaders {
    flex-direction: column;
  }
  .chart__chart__chartbar {
    margin: 0 12px;
  }
  .chart__leaders {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 24px;
    left: 0;
    right: 0;
  }
}

@media (min-width: 638px) {
  .chart__leaders {
    justify-content: center;
  }
  .chart__leaders__leader {
    margin: 0 16px;
  }
  .chart__leaders__spacer {
    height: 38px;
    width: 2px;
  }
  .chart {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 24px;
    left: 0;
    right: 0;
    flex-direction: column;
    }
}

.chart__leaders__leader {
  display: flex;
  height: 2em;
  font-size: 20px;
}

.chart__leaders__spacer {
  opacity: 0.30000001192092896;
  background: #BFBFBF;
}

.chart__leaders__leader__meta {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.theme_dark .chart__leaders__leader__meta__name {
  color: #FCFBF7;
}

.theme_dark .chart__leaders__leader__meta__text {
  color: #918F8A;
}

.chart__leaders__leader__meta__name {
  color: #261C00;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.chart__leaders__leader__meta__text {
  color: #BFBFBF;
  font-family: Roboto;
  font-weight: regular;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.chart__leaders__leader__img {
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.theme_dark .chart__chart__chartbar__value {
  color: #918F8A;
}

.chart__chart__chartbar__value {
  text-align: center;
  color: #BFBFBF;
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin: 8px 0;
}

.theme_dark .chart__chart__chartbar__value {
  color: #918F8A;
}

.theme_dark .chart__chart__chartbar__value--active {
  color: #FCFBF7;
}

.theme_light .chart__chart__chartbar__value--active {
  color: #261C00;
}

.chart__chart__chartbar__value--active {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}
