@media (max-width: 500px) {
  .vote__person__wrapper:nth-of-type(n + 9) {
    display: none;
  }

  .vote__users--vertical {
    height: calc(100vh * 526 / 668);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .vote__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 4px;
  }

  .vote__users--horizontal {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px;
    align-items: center;
    justify-content: space-between;
    margin: 24px 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .vote__button:nth-of-type(2n + 1) {
    order: 0;
  }

  .vote__button:nth-of-type(2n) {
    order: 2;
  }

  .vote__person__wrapper:nth-of-type(3n + 1) {
    order: -1;
  }

  .vote__person__wrapper:nth-of-type(2),
  .vote__person__wrapper:nth-of-type(5) {
    order: 1;
  }

  .vote__person__wrapper:nth-of-type(3n + 3),
  .vote__person__wrapper:nth-of-type(8) {
    order: 3;
  }
  .vote__buttonwrapper {
    display: none;
  }
}
.vote__person__number {
  display: none;
}
@media (min-width: 501px) {
  .vote__users--vertical {
    display: none;
  }
  .vote__users--horizontal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(146px * 2 + 4px);
    justify-content: space-evenly;
    align-items: center;
    margin: 1px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .vote__person__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vote__person__wrapper:nth-of-type(n + 7) {
    display: none;
  }
  .vote__person__wrapper:nth-of-type(1) {
    order: -2;
    height: 100%;
    position: relative;
    right: 1px;
  }
  .vote__person__wrapper:nth-of-type(4) {
    order: 2;
    height: 100%;
    position: relative;
    left: 1px;
  }
  .vote__person__wrapper:nth-of-type(3n + 2) {
    order: -1;
  }
  .vote__person__wrapper:nth-of-type(3n + 3) {
    order: 1;
  }
  .vote__buttonwrapper {
    order: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .vote__button {
    display: none;
  }
}
