
* {
  font-family: Roboto;
}

.barblocks {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  justify-content: center;
  left: 0;
  right: 0;
}

.barblock {
  display: inline-flex;
  flex-direction: column;
}
@media (max-width: 423px) {
  .barblock:nth-of-type(4) {
    display: none;
  }

  .barblock:nth-of-type(5) {
    display: none;
  }
  .barblock:nth-of-type(1) .barblock__bar {
    height: 325px;
  }
  .barblock:nth-of-type(2) .barblock__bar {
    height: 275px;
  }
  .barblock:nth-of-type(3) .barblock__bar {
    height: 225px;
  }
}

@media (min-width: 424px) {
  .barblock:nth-of-type(1) .barblock__bar {
    height: 108px;
  }
  .barblock:nth-of-type(2) .barblock__bar {
    height: 88px;
  }
  .barblock:nth-of-type(3) .barblock__bar {
    height: 88px;
  }  
  .barblock:nth-of-type(4) .barblock__bar {
    height: 68px;
  }
  .barblock:nth-of-type(5) .barblock__bar {
    height: 68px;
  }
}


.barblock:nth-of-type(1) .ratings__bar {
  background: linear-gradient(-180deg, #FFF2D1 1%, #FFD66C 100%);
  box-shadow: inset 0px 0px 20px 0px #FFB039,inset -1px 1px 1px 0px #FFFFFF;
}

.theme_dark .barblock:nth-of-type(1) .ratings__bar {
  background: radial-gradient(91.67% 122.17% at 69.17% -11.17%, #FFA300 0%, #2D1C00 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.4), inset 0px 6px 15px rgba(255, 162, 0, 0.4);
}


.barblock:nth-of-type(1){
  order: 1;
  z-index: 2;
}
.barblock:nth-of-type(2){
  order: 2;
  z-index: 1;

}
/* .barblock:nth-of-type(2n) .ratings__person {
  position: relative;
  left: 6px;
} */

.barblock:nth-of-type(2n) .barblock__user {
  align-self: flex-end;
}

.barblock:nth-of-type(2n + 3) .barblock__user {
  align-self: flex-start;
}


.barblock:nth-of-type(2n) .ratings__bar {
  margin-left: -12px;
}

.barblock:nth-of-type(3){
  order: 0;
  z-index: 1;
}
/* .barblock:nth-of-type(2n + 3) .ratings__person {
  position: relative;
  right: 6px;
} */
.barblock:nth-of-type(2n + 3) .ratings__bar {
  margin-right: -12px;
}
.barblock:nth-of-type(4){
  order: 4;
}
.barblock:nth-of-type(5){
  order: -1;
}
.barblock:nth-of-type(n + 6){
  display: none;
}
.barblock__bar {
  overflow: hidden;
  }
.ratings__bar {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 120px;
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(-180deg, #F4F4F4 1%, #E9E9E9 100%, #EAEAEA 100%);
  box-shadow: inset 0px 0px 20px 0px #CFCFCF,inset -1px 1px 1px 0px #FFFFFF;

}

.theme_dark .ratings__bar {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -2.22%, rgba(0, 0, 0, 0.8) 100%), radial-gradient(149.08% 95.38% at 38.75% 71.48%, #000000 0%, #231900 0.01%, #4D4D4D 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 16px rgba(103, 103, 103, 0.6);
}
.ratings__bar--leader {
  background: linear-gradient(-180deg, #FFF2D1 1%, #FFD66C 100%);
  box-shadow: inset 0px 0px 20px 0px #FFB039,inset -1px 1px 1px 0px #FFFFFF;
  height: 325px;
  }
  
  .ratings__bar--second {
  height: 275px;
  }
  
  .ratings__bar--third {
  height: 225px;
  }
  
.ratings__bar__position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #261C00;
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 18px
}

.theme_dark .ratings__bar__position {
  color: #FCFBF7;
}