body.theme_dark {
  background: radial-gradient(
    70.24% 70.24% at 49.87% 29.76%,
    rgba(18, 12, 1, 0.9) 0%,
    #000000 100%
  );
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
