/* .activitychart {
  display: flex;
  flex-direction: column;
} */

.horizontal .activitychart {
  max-width: 424px;
  margin: 0 auto;
}

@media (max-width: 423px) {
  .activitychart--horizontal {
    display: none;
  }
  .activitychart--vertical {
    margin: 0 24px;
  }
  .scale__scaleblock--horizontal {
    display: none;
  }
}

@media (min-width: 424px) {
  .activitychart--vertical {
    display: none;
  }
  .scale__scaleblock--vertical {
    display: none;
  }
  .activitychart--horizontal {
    width: calc(100% * (425/668));
    margin: 0 auto;
    margin-top: 20px;
  }
  .scale {
    width: calc(100% * (332/668));
  }
}

@media (max-width: 423px) {
  .scale {
    width: calc(328/375 * 100%);
  }
  .activitychart__activityrow:not(.activitychart__activityrow:nth-child(1)){
    top: 0;
    margin-top: -24%;
  }
  
  .activitychart__activityrow:nth-child(2n) {
    padding-left: calc(100%/14);
  }
  
  .activitychart__activityrow:nth-child(2n+1) {
    padding-right: calc(100%/14);
  }
  
  .activitychart__activityrow__activityblock {
    height: 0;
    width: 100%;
    padding-top: calc(( 74.5 / 34 ) * ( 100% / 7 ));
    flex-grow: 1;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  }

.activitychart__activityrow {
  display: flex;
  flex-direction: row;
}
@media (min-width: 424px) {
.activitychart__activityrow:not(.activitychart__activityrow:nth-child(1)){
  top: 0;
  margin-top: calc((-100%/12)*(59 / 34));
}

.activitychart__activityrow:nth-child(2n+1) {
  padding-right: calc(100%/24);
}

.activitychart__activityrow:nth-child(2n) {
  padding-left: calc(100%/24);
}

.activitychart__activityrow__activityblock {
  width: 100%;
  height: 0;
padding-top: calc((100% / 12) * 74 / 34);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
}

.theme_light .activitychart__activityrow__activityblock--min {
  /* background-image: url('../../assets/images/1x/min-light.png'); */
  background-image: url('../../assets/images/light/Min.svg');
}

.theme_light .activitychart__activityrow__activityblock--mid {
  /* background-image: url('../../assets/images/1x/mid-light.png'); */
  background-image: url('../../assets/images/light/Mid.svg');
}

.theme_light .activitychart__activityrow__activityblock--max {
  /* background-image: url('../../assets/images/1x/max-light.png'); */
  background-image: url('../../assets/images/light/Max.svg');
}

.theme_light .activitychart__activityrow__activityblock--extra {
  /* background-image: url('../../assets/images/1x/extra-light.png'); */
  background-image: url('../../assets/images/light/Extra.svg');
}

.theme_dark .activitychart__activityrow__activityblock--min {
  /* background-image: url('../../assets/images/1x/min-dark.png'); */
  background-image: url('../../assets/images/dark/Min.svg');
}

.theme_dark .activitychart__activityrow__activityblock--mid {
  /* background-image: url('../../assets/images/1x/mid-dark.png'); */
  background-image: url('../../assets/images/dark/Mid.svg');
}

.theme_dark .activitychart__activityrow__activityblock--max {
  /* background-image: url('../../assets/images/1x/max-dark.png'); */
  background-image: url('../../assets/images/dark/Max.svg');
}

.theme_dark .activitychart__activityrow__activityblock--extra {
  /* background-image: url('../../assets/images/1x/extra-dark.png'); */
  background-image: url('../../assets/images/dark/Extra.svg');
}

@media (min-width: 667px) {
  .header__mainheader {
    text-align: center;
  }
  .header__secondaryheader {
    text-align: center;
  }
}

.scale__wrapper {
  position: absolute;
  bottom: 24px;
  right: 0;
  left: 0;
}

@media (min-width: 667px) {
  .scale__wrapper {
    bottom: 58px;
  }
}

.scale {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}



.scale__scaleblock__dash::before, .scale__scaleblock__dash::after {
  top: -4px;  
  background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
}

.theme_dark .scale__scaleblock__dash::after, .theme_dark .scale__scaleblock__dash::before {
  background: radial-gradient(150% 252.96% at 150% 50%, rgba(64, 59, 54, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);
}

.scale__scaleblock__dash::before {
  content: "";
  height: 12px;
  display: inline-block;
  position: absolute;
  left: -4px;
  width: 4px;
  border: 0px solid;
  border-radius: 4px;
}


.scale__scaleblock__dash::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 12px;
  position: absolute;
  right: -4px;
  border: 0px solid;
  border-radius: 4px;
}

.theme_dark .scale__scaleblock__dash {
  background: radial-gradient(51.52% 129.57% at 48.48% 50%, rgba(64, 59, 54, 0) 0%, rgba(19, 18, 17, 0.5) 100%);
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);
}

.scale__scaleblock__dash {
  
  background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
  box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);


  display: inline-block;
  width: calc(100% - 8px);
  position: relative;
  height: 4px;
  border: 0px solid;
  top: -7px;
  right: -2px;
}

.scale__scaleblock__dash, .scale__scaleblock__dash::before, .scale__scaleblock__dash::after {
  background-origin: border-box;
  border-color: transparent;
}

.scale__scaleblock {
  width: 100px;
  margin-right: 8px;
}

.scale__scaleblock:nth-last-of-type(1) {
  margin-right: 0;
}

.scale__scaleblock__colorblock {
  height: 12px;
  width: 100%;
  border-radius: 2px;
}

.theme_dark .scale__scaleblock__colorblock--min {
  background: radial-gradient(3906.1% 3815.36% at 89.06% 78.28%, rgba(19, 17, 16, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
  box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(112, 102, 94, 0.2);
}

.theme_dark .scale__scaleblock__colorblock--mid {
  background: radial-gradient(5752.25% 5190.32% at 74.43% 60.32%, rgba(0, 0, 0, 0.9) 0%, rgba(35, 22, 0, 0.9) 0.01%, rgba(112, 92, 94, 0.9) 100%);
  box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(93, 116, 141, 0.6);
}

.theme_dark .scale__scaleblock__colorblock--max {
  background: radial-gradient(5528.36% 3005.63% at 74.43% 75.84%, rgba(0, 0, 0, 0.9) 0%, rgba(33, 22, 2, 0.9) 0.01%, rgba(172, 113, 9, 0.9) 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.2);
  

}

.theme_dark .scale__scaleblock__colorblock--extra {
  background: radial-gradient(2258.03% 620.37% at 83.33% 88.95%, #201502 0%, #C7830A 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.9);
  
}
.theme_light .scale__scaleblock__colorblock--min {
  background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.6) 0%, rgba(250, 250, 250, 0.6) 100%);
  box-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2);
}

.theme_light .scale__scaleblock__colorblock--mid {
  background: radial-gradient(2408.25% 2730.55% at 89.06% 78.28%, rgba(250, 250, 250, 0.8) 0%, rgba(250, 250, 250, 0.8) 100%);
  box-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.3);
}

.theme_light .scale__scaleblock__colorblock--max {
  background: radial-gradient(68.1% 68.1% at 4.41% 31.9%, #FFF6DD 8.72%, #FFFEFA 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
}

.theme_light .scale__scaleblock__colorblock--extra {
  background: radial-gradient(66.02% 86.49% at -16.18% 13.51%, rgba(255, 186, 6, 0.85) 0%, #FFF2AD 100%);
  box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);  
}


.scale__scaleblock__desc {
  color: #918F8A;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 8px;
}

.scale__scaleblock__desc--dash {
  margin-top: 0;
}