/* .activitychart {
  display: flex;
  flex-direction: column;
} */

.horizontal .activitychart {
  max-width: 424px;
  margin: 0 auto;
}

@media (max-width: 423px) {
  .activitychart--horizontal {
    display: none;
  }
  .activitychart--vertical {
    margin: 0 24px;
    margin-top: 2px;
  }
  .scale__scaleblock--horizontal {
    display: none;
  }
}

@media (min-width: 424px) {
  .activitychart--vertical {
    display: none;
  }
  .scale__scaleblock--vertical {
    display: none;
  }
  .activitychart--horizontal {
    width: calc(100% * (425/668));
    margin: 0 auto;
    margin-top: 20px;
  }
  .scale {
    width: calc(100% * (425/668));
    margin: 0 auto;
  }
}

@media (max-width: 423px) {
  .activitychart__activityrow:not(.activitychart__activityrow:nth-child(1)){
    top: 0;
    margin-top: -24%;
  }
  
  .activitychart__activityrow:nth-child(2n+1) {
    padding-left: calc(100%/14);
  }
  
  .activitychart__activityrow:nth-child(2n) {
    padding-right: calc(100%/14);
  }
  
  .activitychart__activityrow__activityblock {
    height: 0;
    width: 100%;
    padding-top: calc(( 74 / 34 ) * ( 100% / 7 ));
    flex-grow: 1;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  }

.activitychart__activityrow {
  display: flex;
  flex-direction: row;
}
@media (min-width: 424px) {
.activitychart__activityrow:not(.activitychart__activityrow:nth-child(1)){
  top: 0;
  margin-top: calc((-100%/12)*(59 / 34));
}

.activitychart__activityrow:nth-child(2n+1) {
  padding-right: calc(100%/24);
}

.activitychart__activityrow:nth-child(2n) {
  padding-left: calc(100%/24);
}

.activitychart__activityrow__activityblock {
  width: 100%;
  height: 0;
padding-top: calc((100% / 12) * 74 / 34);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
}

.theme_light .activitychart__activityrow__activityblock--min {
  /* background-image: url('../../assets/images/1x/min-light.png'); */
  background-image: url('../../assets/images/min-light.svg');
}

.theme_light .activitychart__activityrow__activityblock--mid {
  /* background-image: url('../../assets/images/1x/mid-light.png'); */
  background-image: url('../../assets/images/mid-light.svg');
}

.theme_light .activitychart__activityrow__activityblock--max {
  /* background-image: url('../../assets/images/1x/max-light.png'); */
  background-image: url('../../assets/images/max-light.svg');
}

.theme_light .activitychart__activityrow__activityblock--extra {
  /* background-image: url('../../assets/images/1x/extra-light.png'); */
  background-image: url('../../assets/images/extra-light.svg');
}

.theme_dark .activitychart__activityrow__activityblock--min {
  /* background-image: url('../../assets/images/1x/min-dark.png'); */
  background-image: url('../../assets/images/min-dark.svg');
}

.theme_dark .activitychart__activityrow__activityblock--mid {
  /* background-image: url('../../assets/images/1x/mid-dark.png'); */
  background-image: url('../../assets/images/mid-dark.svg');
}

.theme_dark .activitychart__activityrow__activityblock--max {
  /* background-image: url('../../assets/images/1x/max-dark.png'); */
  background-image: url('../../assets/images/max-dark.svg');
}

.theme_dark .activitychart__activityrow__activityblock--extra {
  /* background-image: url('../../assets/images/1x/extra-dark.png'); */
  background-image: url('../../assets/images/extra-dark.svg');
}


.theme_dark .header__mainheader {
  color: #FCFBF7;
  margin: 0;
}

.header__mainheader {
  color: #261C00;
font-family: Roboto;
font-weight: 500;
font-size: 30px;
line-height: 32px;
letter-spacing: 0px;
text-align: left;

}

.theme_dark .header__secondaryheader {
  color: #918F8A;
}
.header__secondaryheader {
  color: #BFBFBF;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 18px;
letter-spacing: 0px;
text-align: left;

}

@media (min-width: 667px) {
  .header__mainheader {
    text-align: center;
  }
  .header__secondaryheader {
    text-align: center;
  }
}

.scale__wrapper {
  position: absolute;
  bottom: 10px;
  right: 24px;
  left: 24px;
}

.scale {
  display: flex;
  justify-content: space-between;
}



.scale__scaleblock__dash::before, .scale__scaleblock__dash::after {
  top: -4px;
  
  background-image: radial-gradient(circle at 50% 50%, rgba(64, 59, 54, 65%) 0%, rgba(0, 0, 0, 65%) 100%);
}

.scale__scaleblock__dash::before {
  content: "";
  height: 12px;
  display: inline-block;
  position: absolute;
  left: -4px;
  width: 4px;
  border: 0px solid;
  border-radius: 4px;
}


.scale__scaleblock__dash::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 12px;
  position: absolute;
  right: -4px;
  border: 0px solid;
  border-radius: 4px;
}

.scale__scaleblock__dash {
  
  background-image: radial-gradient(circle at 50% 50%, rgba(19, 18, 17, 50%) 100%, rgba(64, 59, 54, 0%) 0%);
  display: inline-block;
  width: calc(100% - 8px);
  position: relative;
  height: 4px;
  border: 0px solid;
  top: -6px;
}

.scale__scaleblock__dash, .scale__scaleblock__dash::before, .scale__scaleblock__dash::after {
  background-origin: border-box;
  box-shadow: inset 2px 2px 16px 0px rgba(112, 102, 94, 30%),inset -1px 0px 2px 0px rgba(255, 255, 255, 25%);
  border-color: transparent;
}

.scale__scaleblock {
  width: 100px;
  margin-right: 8px;
}

.scale__scaleblock:nth-of-type(-1) {
  margin-right: 0;
}

.scale__scaleblock__colorblock {
  height: 12px;
  width: 100%;
}

.scale__scaleblock__colorblock--min {
  border-radius: 2px;
background: radial-gradient(circle at 50% 50%, rgba(19,17,16, 65%) 0%, rgba(0,0,0,65%) 100%);
box-shadow: inset 1px 1px 16px 0px rgba(112, 102, 94, 20%),inset -1px 0px 2px 0px rgba(255, 255, 255, 20%);

}

.scale__scaleblock__colorblock--mid {
  border-radius: 2px;
background: radial-gradient(circle at 50% 50%, rgba(35, 22, 0, 1) 0%, rgba(112, 92, 94, 1) 100%);
box-shadow: inset 2px 2px 10px 0px rgba(93, 116, 141, 0.6),inset -1px 0px 1px 0px rgba(255, 255, 255, 0.2);

}

.scale__scaleblock__colorblock--max {
  border-radius: 2px;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(172, 113, 9, 0.9) 100%);
  box-shadow: inset 2px 2px 10px 0px rgba(242, 159, 13, 0.2),inset -1px 1px 1px 0px rgba(255, 255, 255, 20%);
  

}

.scale__scaleblock__colorblock--extra {
  border-radius: 2px;
  background: radial-gradient(circle at 50% 50%, rgba(32, 21, 2, 1) 0%, rgba(199, 131, 10, 1) 100%);
  box-shadow: inset 2px 2px 10px 0px rgba(242, 159, 13, 0.9),inset -1px 1px 1px 0px rgba(255, 255, 255, 20%);
  
}


.scale__scaleblock__desc {
  color: #918F8A;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;

}